{% extends "bootstrap/base.html"%}
{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}

    <head>

        {%- block head %}
        <title>{% block title %}D1069116{% endblock title %}</title>
        {%- block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}
        {%- block styles %}
        <!-- Bootstrap -->
        <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
        <style>
            body {
                min-height: 2000px;
                padding-top: 70px;
            }
        </style>
        {%- endblock styles %}

        {%- endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">D10619116</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首頁
                            </a></li>
                        <li><a href="/">查詢1</a></li>
                        <li><a href="/t2">查詢2</a></li>
                        <li><a href="/t3">查詢3</a></li>

                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        {%- endblock navbar %}
        {% block content -%}
        <div class="container">
            <div class="container">
              
                     <h1>視覺化圖表分析</h1>
                   
                             <span id=result></span>

               
                <canvas id="panel" height="330px" width="700px"> </canvas>
            </div>
        </div>


        {%- endblock content %}
        {% block scripts %}
        <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
        <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script>
            $(function () {
                var can = $('#panel').get(0).getContext('2d'); /*繪製類型*/
                var canData;
                //定義圖標的數據
                $.ajax({
                    url: "/setData/", //從setData函數中獲取數據
                    type: "get",
                    data: "",
                    success: function (data) {
                        canData = {
                            labels: ["正常", "交通障礙", "阻塞", "災變", "交通管制", "道路施工",
                                "號誌故障", "事故", "其他"
                            ],
                            /*初始x軸數據*/
                            datasets: [{
                                label: "roadtype",
                                //折線的填充顏色
                                fillColor: "rgba(255,255,255,0.1)",
                                //線條顏色：
                                strokeColor: "rgba(255,255,0,1)",
                                //y軸初始數據：
                                data: data.data
                            }]
                        };

                        line = new Chart(can, {
                            type: "line",
                            data: canData
                        })
                        // removeData(line);
                        // addData(line, data.time, data.data)
                    }


                });
            
            //繪製圖片
            var line = new Chart(can, {
                type: "line",
                data: canData
            })
            var temp1, temp2; setInterval(function () { //設置定時器
                $.ajax({
                    url: "/setData/", //從setData函數中獲取數據
                    type: "get",
                    data: "",
                    success: function (data) {
                        canData = {
                            labels: ["正常", "交通障礙", "阻塞", "災變", "交通管制", "道路施工",
                                "號誌故障", "事故", "其他"
                            ],
                            /*初始x軸數據*/
                            datasets: [{
                                label: "roadtype",
                                //折線的填充顏色
                                fillColor: "rgba(255,255,255,0.1)",
                                //線條顏色：
                                strokeColor: "rgba(255,255,0,1)",
                                //y軸初始數據：
                                data: data.data
                            }]
                        };
                        console.log(canData)
                        line = new Chart(can, {
                            type: "line",
                            data: canData
                        })
                        // removeData(line);
                        // addData(line, data.time, data.data)
                    }


                })
            }, 18000)

            function addData(chart, label, data) {
                chart.data.labels.push(label);
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.push(data);
                });
                chart.update();
            }

            function removeData(chart) {
                chart.data.labels.pop();
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.pop();
                });
                chart.update();
            }
            })
        </script>
        <script type=text/javascript> $(function() { $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
            $('a#calculate').bind('click', function() { $.getJSON($SCRIPT_ROOT + '/_add_numbers' , { a:
            $('#s1_1').val(), b: $('#s1_2').val() ,c: $('#s1_3').val() }, function(data) {
            $("#result").html(data.result); }); return false; }); }); </script>
        {%- endblock scripts %}
        {%- endblock body %} </body> {%- endblock html %}

        </html> {% endblock doc -%}